extends template

block head
	title Log In - Drew's Delivery
	link(rel="stylesheet" type="text/css" href="/style/login.css")
	script(type="text/javascript" src="/js/login.js")

block content
	div.container.login-form.signup-form
		form.form-login(role='form')
			h2.form-signin-heading.sign-in-header Log In or Sign Up
			label(for='email') email
			input.form-control.email(autofocus='' required='' type='email' name='email')
			label(for='password') password
			input.form-control.password(type='password' required='' name='password')
		div.col-xs-6.login-btns.login-btn
			button.btn.btn-lg.btn-primary.btn-block.login-btn Log In
		div.col-xs-6.login-btns.signup-btn
			button.btn.btn-lg.btn-primary.btn-block.signup-btn Sign Up
