doctype html
html
	head
		include includes/head.pug
		block head
			title #{title} - Drew's Delivery
			meta placeholder head
	body
		include includes/header.pug
		block content
			div placeholder content
		include includes/footer.pug
