doctype html
html
	head
		include includes/head.pug
		block head
			title #{title} - Drew's Delivery
			meta placeholder head
	body
		include includes/header.pug
		.container(style='padding-top: 50px')
			block content
				div placeholder content
